<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fluid</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <script src="/js/modernizr.js"></script>

    <link rel="shortcut icon" href="/img/favicon.png">

    <meta name="description" content="Turning hand drawn sketches into digital diagrams">
    <meta name="author" content="Fluid">

    <meta property="og:image" content="http://usefluid.com/img/snap-250.png"/>
    <meta property="og:title" content="Fluid"/>
    <meta property="og:description" content="Turning hand drawn sketches into digital diagrams"/>
    <meta property="og:url" content="http://usefluid.com/"/>
    <meta property="og:site_name" content="Fluid"/>
    <meta property="og:type" content="website"/>

    <script>
      !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
      arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
      d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
      insertBefore(d,q)}(window,document,'script','_gs');
      
      _gs('GSN-573307-X');
    </script>
  </head>
  <body style="padding: 2rem; background-color: #eee;">

    <main>

      <div class="row"  style="background-color: white;">
        <div class="columns" style="padding: 2rem;">

          <div class="row">
            <div class="columns text-center">
              <a href="/">
                <!-- <span style="display: inline-block; background-color: rgb(245,130,32); color: white; font-size: 2.5rem; padding: 1rem; margin-bottom: 2rem;">F L U I D</span> -->
                <img src="/img/logo.png" style="display: inline-block; margin-bottom: 2rem;" width="250px" />
              </a>
            </div>
          </div>

          {{ content }}

        </div>
      </div>

    </main>

    <footer class="row center" style="margin-top: 2rem; color: #999;">
      <div class="large-8 columns">
        <p>
          &copy; 2014 Brinian
          &nbsp;
          &bull;
          &nbsp;
          Made in London
          &nbsp;
          &bull;
          &nbsp;
          Analytics by
          &nbsp;
          <a href="https://www.gosquared.com/">
            <img src="/img/gosquared.png" style="height: 30px;">
          </a>
        </p>
      </div>
      <div class="large-4 columns" style="text-align: right;">
        <p>
          <a href="/">Home</a>
          &nbsp;
          &bull;
          &nbsp;
          <a href="/about/">About</a>
          &nbsp;
          &bull;
          &nbsp;
          <a href="mailto:hi@usefluid.com">Contact</a>
        </p>
      </div>
    </footer>
    
    <script src="/js/jquery.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script src="/js/foundation.orbit.js"></script>
    <script src="/js/foundation.reveal.js"></script>
    <script>
        $(document).foundation();
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44542023-9', 'usefluid.com');
      ga('send', 'pageview');

    </script>
  </body>
</html>
